.container .filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.container .filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin: 10px 30px 50px 0;
}

.container .filters button:hover {
    opacity: 90%;
    cursor: pointer;
}